<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f6 fw4 hover-black no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  {{ if .Site.Params.copyright_logo_text }}
    {{ if.Site.Params.copyright_logo_url }}
      <a class="f6 fw4 hover-black no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Params.copyright_logo_url }}" >
        &copy; {{ with .Site.Params.copyright_logo_text }} {{ . | safeHTML }} {{ end }}
      </a>
    {{ end }}
  {{ end }}
  <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
